<nav class="nav-con">
            <span class= "l_side">
                <%= link_to "FLY HIGH BUTTERFLY", root_path, style: "color: #db0303; text-decoration: none "%>        
            </span , root_path>
            <span class= "r_side">
                    <%= link_to "Home", root_path%>
            <span>
</nav>
